<div class="container">

  <div class="row">
    <div class="col-xs-8 col-sm-6 col-md-6 info">
      <h1>kmsheng</h1>
      <p>Back End &amp; Front End Developer</p>
      <small>No.59-2, Jianguo 1st Rd., Xinzhuang Dist.</small>
      <small>New Taipei City 242, Taiwan (R.O.C.)</small>
      <small>Phone: 0930-624-622</small>
      <small><a href="mailto:kmsh3ng@gmail.com">kmsh3ng@gmail.com</a></small>
      <small><a href="https://github.com/mu574n6" target="_blank">my github page</a></small>
    </div>
    <div class="col-xs-4 col-sm-6 col-md-6 photo">
      <img ng-src="images/me.jpg">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <h2>Profile</h2>
      <p>I am a 26 year old web designer and currently working at PIXNET Digital Media Corporation. I love to develop user friendly websites. I have been coding websites ever since my sophomore year of university. I was doing freelance projects during most of my university time and this was when I gained my web development knowledge base.</p>
    </div>
  </div>

  <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h2>Skills</h2>
        <ul>
          <li>HTML5 / CSS3</li>
          <li>Compass / SASS</li>
          <li>JavaScript</li>
          <li>PHP Backend</li>
          <li>Node.js</li>
          <li>MySQL Database</li>
          <li>Wordpress</li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h2>Frameworks</h2>
        <ul>
            <li>Pix Framework</li>
            <li>Code Igniter</li>
            <li>Zend Framework</li>
            <li>Slim Framework</li>
            <li>Express</li>
            <li>AngularJS</li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h2>Tools</h2>
        <ul>
            <li>Git</li>
            <li>Vim</li>
            <li>Yeoman</li>
            <li>Adobe Photoshop</li>
        </ul>
      </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <h2>Achievement</h2>
      <table class="table">
        <tr>
          <th>2007/07/22</th>
          <td>Total 815 scores on the TOEIC</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <h2>Work Experience</h2>
      <table class="table">
        <tr>
            <td>PIXNET Senior Software Engineer</td>
            <td>2012/03 untill now</td>
        </tr>
        <tr>
            <td>COSCUP 2013 Speaker</td>
            <td><a href="http://www.slideshare.net/ssuser6d23c4/an-intro-of-web-scaffolding-tool-using-yeoman-generator" target="_blank">An Intro of Web Scaffolding Using Yeoman Generator</a></td>
        </tr>
        <tr>
            <td><a href="http://apps.pixnet.tw/" target="_blank">PIXNET Developer Revision</a></td>
            <td>Markup &amp; operation redesign.</td>
        </tr>
        <tr>
            <td><a href="http://appmarket.pixnet.tw/#/" target="_blank">PIXNET App Market Revision</a></td>
            <td>Including frontend's markup redesign and backend's cash flow logic.</td>
        </tr>
        <tr>
            <td><a href="http://www.pixnet.net/" target="_blanl">PIXNET Mainpage Column Star Revision</a></td>
            <td>Including clicks &amp; views recording.</td>
        </tr>
        <tr>
            <td>PIXNET Trac Bot</td>
            <td>An email bot that creates &amp; replies <a href="http://trac.edgewall.org/" target="_blank">issue tracking system's</a> ticket.</td>
        </tr>
        <tr>
            <td><a href="https://buy.pixnet.tw/" target="_blank">Pix Buy</a></td>
            <td>An electronic commerce plateform of PIXNET. Selling one product per week.</td>
        </tr>
        <tr>
            <td>PIXNET panel Money In Blog section</td>
            <td>Displaying charts of users click-through rate and how much money users earn.</td>
        </tr>
        <tr>
            <td><a href="http://panel.pixnet.cc/album/newalbumupload" target="_blank">New Version of PIXNET Album Uploader</a></td>
            <td>Using Plupload &amp; EXIF parsing technique to display large image files' thumbnails.</td>
        </tr>
        <tr>
            <td><a href="http://www.7Headlines.com" target="_blank">7Headlines Topic &amp; Story </a></td>
            <td>Personalized Information Reading Plateform. It makes reading suggestions and allows users to collect articles.</td>
        </tr>
        <tr>
            <td>7Headlines Admin Management Panel</td>
            <td>Uploading / Cropping 7Headlines Images and scheduling / submiting topics and stories.</td>
        </tr>
        <tr>
            <td><a href="http://channel.pixnet.net/movie" target="_blank">PIXNET Channel Movie Revision</a></td>
            <td>Providing the latest trailers, movie reviews and movie show times on PIXNET.</td>
        </tr>
        <tr>
            <td>Pix Github Hook</td>
            <td>A bot that emails PIXNET developers' git diff to PIXNET email list.</td>
        </tr>
      </table>
    </div>
  </div>

</div>