<div class="container">

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <h1>Comic Maker</h1>
      <img ng-src="images/works/comic-maker.png" class="img-responsive">
      <p class="desc">An App Market app which allows users to create their own comics and post them on their blogs.</p>
      <h4>Using:</h4>
      <ul>
        <li>KineticJS HTML5 Framework - to create useful objects in canvas</li>
        <li>Intro.js - to provide an introduction to users</li>
        <li>Image CORS configuration - allow cross domain images to be used in canvas</li>
        <li>AngularJS - for data binding and testing purpose</li>
        <li>Porthole.js - for cross domain iframe communication</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <h1>7Headlines QBlog</h1>
      <img ng-src="images/works/curation.png" class="img-responsive">
      <p class="desc">A tool to create personal magazine.</p>
      <h4>Using:</h4>
      <ul>
        <li>Plupload - upload files to aws s3</li>
        <li>Google Image Search API - search images and select them to make their magazines</li>
        <li>Angular Scenario - for e2e testing purpose</li>
        <li>Grunt ExplainJS - javascript document auto-generation</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <h1>Photo Selector</h1>
      <img ng-src="images/works/photo-selector.png" class="img-responsive">
      <p class="desc">Providing users an easier way to select their album photos.</p>
      <h4>Using:</h4>
      <ul>
        <li>AngularJS - work with existing legacy website</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <h1>App Market Site</h1>
      <img ng-src="images/works/app-market.png" class="img-responsive">
      <p class="desc">Users manage their apps here.</p>
      <h4>Using:</h4>
      <ul>
        <li>AngularJS</li>
        <li>Angular UI Router</li>
        <li>Bootstrap 3.0</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <h1>PIXNET Developer Site</h1>
      <img ng-src="images/works/apps-site.png" class="img-responsive">
      <p class="desc">Developers create and manage their apps here.</p>
      <h4>Using:</h4>
      <ul>
        <li>AngularJS</li>
        <li>Angular UI Router</li>
        <li>Effeckt.css</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <h1>PixBuy Site</h1>
      <img ng-src="images/works/pixbuy.png" class="img-responsive">
      <p class="desc">An electronic commerce plateform of PIXNET. Selling one item with best offer every week.</p>
      <h4>Using:</h4>
      <ul>
        <li>Pix Framework</li>
        <li>EC API</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <h1>7Headlines Administration Site</h1>
      <img ng-src="images/works/adm-7hl.png" class="img-responsive">
      <p class="desc">An adminstration site for pixnet staff to management 7Headlines.</p>
      <h4>What I did:</h4>
      <ul>
        <li>Topic Management</li>
        <li>Story Management</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <h1>Revision of Channel Movie Site</h1>
      <img ng-src="images/works/channel-movie.png" class="img-responsive">
      <p class="desc">Providing the latest trailers, movie reviews and movie show times on PIXNET corporation.</p>
      <h4>Using</h4>
      <ul>
        <li>Pix Framework</li>
        <li>jQuery</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <h1>Center of Instruction and Learning Resource Site</h1>
      <img ng-src="images/works/tlrc.png" class="img-responsive">
      <p class="desc">
        In order to foster students' positive learning attitude, enhance teachers' quality of teaching, pursue the excellent development in teaching and achieve the purpose of human resource development cultivating, Shu-Te University established the "Center of Instruction and Learning Resource."</p>
      <h4>Using</h4>
      <ul>
        <li>Wordpress</li>
        <li>Pure PHP</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <h1>yzn123 site</h1>
      <img ng-src="images/works/yzn123.png" class="img-responsive">
      <p class="desc">A site which sells healthy food.</p>
      <h4>Using</h4>
      <ul>
        <li>Pure PHP</li>
      </ul>
    </div>
  </div>

</div>